<div class="w-full max-w-xs px-10 py-10" data-controller="registration-form">
  <div class="min-w-0 flex-1">
    <h2 class="text-2xl font-bold leading-7 text-gray-900 sm:truncate sm:text-3xl sm:tracking-tight">Add Software to <br>
    <%= @equipment.serial_number %></h2>
  </div>
  <%= render "equipment_software_product_form", equipment: @equipment %>

  <div class="mt-8">
  <%= link_to "Back to Equipment", equipment_index_path %>
</div>
</div>
