<p style="color: green"><%= notice %></p>

<h1>Notes</h1>

<div id="notes">
  <% @poly_notes.each do |note| %>
    <%= render note %>
    <p>
      <%= link_to "Show this note", note %>
    </p>
  <% end %>
</div>

<%= link_to "New note", new_poly_note_path %>
